.button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

/* Типы кнопок */
.default {
    background-color: #862013;
    color: #ffffff;
}

.default:hover {
    background-color: #e6c200;
    color: #858585;
}

.outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.outline:hover {
    background-color: white;
    color: #858585;
}